*{
    margin: 0;
    padding:0 ;
}

.cabeçalho{
    background-image: url('nosferatu.jpg');
color: white;
display: flex;
justify-content: space-around;
padding: 24px 0;
font-size: 24px;

}
.cabeçalho-lista-item{
    display: inline-block;
    margin: 0 16px;
}
