*{
    margin: 0;
    padding:0 ;
}

.cabeçalho{
    background-image: url('nosferatu.webp');
color: white;
display: flex;
justify-content: space-around;
padding: 24px 0;
font-size: 24px;

}
.cabeçalho-lista-item{
    display: inline-block;
    margin: 0 300px;
}
.imagemmorcegos{
    width: 20%;
}
.musicas-goticas{
    background-image: linear-gradient(#940000,#000000);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.divisao{
    width: 35%;
}
.estudante-imagem{
    width: 120px;
}
.estudante-div{
    text-align: center;
}
.estudante-titulo{
    text-align: center;
    padding: 50px 0;
}
.bandas-todas{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}